* {
  font-family: 'Tahoma', sans-serif;
  /* padding: 0;
  margin: 0; */
}

.home-page {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

/*LOADING*/

.loader {
  margin: auto;
  border: 10px solid #eaf0f6;
  border-radius: 50%;
  border-top: 9px solid var(--color-secondary);
  width: 100px;
  height: 100px;
  animation: spinner 5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.welome-message {
  margin-top: 20vh;
  font-size: 5em;
  animation: up-down 1s infinite alternate;
}

@keyframes up-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(8px);
  }
}

.bg-image2 {
  background-image: url('https://img.freepik.com/free-vector/hand-drawn-fast-food-background_52683-21979.jpg?w=2000');
  background-size: cover;
  background-position: center;
}
.bg-image3 {
  background-image: url('../../../public/logo2.png');
  background-size: cover;
  background-position: center;
}
/* .bg-image2 {
  background-image: url('https://www.pexels.com/photo/1640777/download/');
  background-size: cover;
  background-position: center;
} */
