.cards {
  max-width: 300px;
  width: 100%;
  border-radius: 4px;
  background-color: inherit;
}

.restaurant-card-container {
  box-shadow: var(--box-shadow-1);
  margin: 10vh 0 0 0;
}

.randomizer-container {
  bottom: 0;
  left: 0;
  width: 10vh;
  height: 10vh;
  background-color: rgb(125, 255, 212);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow-1);
  position: fixed;
  padding: 2em;
  left: 50%;
  top: 0%;
  /* transform: translateY(650%); */
  transform: translate(-50%, 750%);
}

.randomizer-container:hover {
  background-color: rgb(125, 255, 212);
  transition-duration: 0.4s;
  cursor: pointer;
  /* animation: animate 2s linear infinite; */
}
.randomizer-spinner {
  border: 20px solid #eaf0f6;
  border-radius: 50%;
  /* border-top: 10px solid rgb(70, 243, 243); */
  width: 50%;
  height: 50%;
  animation: animate 4s linear infinite;
}
@keyframes animate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card-picture {
  width: min(100%, 300px);
  height: max(100%, 300px);
}

.card-picture img {
  border-radius: 5px 5px 0 0;
  width: min(100%, 300px);
  max-height: 250px;
  height: 100%;
  border-radius: 5px 5px 0 0;
  /* max-width: 300px;
  max-height: 300px; */

  object-fit: fill;
  overflow: hidden;
}

.card-details button {
  width: 100%;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: rgb(125, 255, 212);
}

/* .next-btn:hover {
  transition-duration: 0.1s;
  transform: scale(1.2);
} */

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgb(27, 163, 118);
  }
  40% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
  80% {
    box-shadow: 0 0 0 20px rgba(0, 206, 209, 0);
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 206, 209, 0);
  }
}
