.history-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.welcome-message {
  text-align: center;
  padding: 2rem 0 2rem 0;
  font-weight: bold;
  font-size: 50px;
}

.history-container {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  max-width: 900px;
  width: 100%;
  margin: auto auto;
  /* background-color: aqua; */
  gap: 20px;
  padding: 0 0.5rem 0 0.5rem;
}

.history-card-main {
  height: min(100% - 2rem, 300px);
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-1);
  border-radius: 5px;
  /* transform: scale(1.03); */
  transition: 1.8s;
}

.history-card {
  height: min(100% - 2rem, 300px);
  max-width: 900px;
  width: 100%;
  /* background-color: var(--color-white);
  box-shadow: var(--box-shadow-1);
  border-radius: 5px; */
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.history-image {
  width: min(100%, 300px);
  height: max(100%, 300px);

  /* max-width: 300px;
  max-height: 300px; */
  /* object-fit: fill;
  overflow: hidden; */
}
.history-image img {
  width: min(100%, 300px);
  max-height: 250px;
  height: 100%;
  border-radius: 5px 0 0 5px;
  /* max-width: 300px;
  max-height: 300px; */

  object-fit: fill;
  overflow: hidden;
}

.history-details {
  max-width: 550px;
  width: 100%;
  /* text-align: center; */
}

.history-note {
  display: flex;

  margin: 0 0 10px 10px;
}

.history-note input {
  width: 100%;
  border-radius: 20px;
  margin: 20px auto;
  border-color: var(--color-secondary);
}

.history-note button {
  border-radius: 12px;
  border: none;
  background-color: var(--color-secondary);
  font-weight: bold;
}

.notes-container {
  max-width: 500px;
  width: 100%;
  margin: 0 50px;
  overflow: auto;
}
.notes {
  display: flex;
  justify-content: space-between;
}

.notes input[type='submit'] {
}
/*Search Bar*/

.prompt {
  max-width: 700px;
  width: 100%;
  border-radius: 20px;
  margin: 30px auto;
  border-color: aquamarine;
}

.search-bar {
  max-width: 700px;
  width: 100%;
  margin: auto auto;
  padding: 0 20px 0 20px;
}

/*ICONS*/

.icon-container {
  display: flex;
  width: min(100%, 150px);
  justify-content: space-between;
}

.icons {
  display: flex;
  width: min(100%, 40px);
  height: 40px;
  border-radius: 50%;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}

.icons:hover {
  transform: scale(1.03);
  transition-duration: 0.2s;
}
/*
.bg-image {
    background-image: url('https://i.pinimg.com/originals/44/96/58/449658c9cb24e0688af686a341595a64.jpg');
    background-size: cover;
    background-position: center;
}

@keyframes flash {
 0% {background-color: inherit;}
 100% {background-color: var(--color-orange);}

}

@keyframes slideInFromLeft{
    0% {
        transform: translateX(-1000%);
    }
    100% {
        transform: translateX(0);
    }
}

  transform: scale(1.03);
    transition-duration: 0.2s;

@keyframes student-spin {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(10deg);
  }
} 
*/
@media (max-width: 768px) {
}
