.navbar {
  /* flex-direction: row-reverse; */
  display: flex;
  justify-content: center;
  background-color: rgb(22, 177, 146);
  height: 50px;
  width: auto;
}

.navbar-container {
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px 0 20px;
  font-size: 1rem;
  font-weight: none;
  text-align: center;
}

.navbar-controllers {
  display: flex;
  gap: 5%;
  justify-content: flex-end;
}
.navbar-controllers a {
  text-decoration: none;
  color: var(--color-orange);
}
.navbar-controllers a:hover {
  color: var(--color-primary);
  transform: scale(1.08);
  transition: all 0.4s ease-in-out;
}

.application-name {
  font-size: 1.5rem;
  font-weight: none;
  text-align: center;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-white);
}

/* MOBILE VIEW FOR NAVBAR*/

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar-controllers {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    /* background-color: aqua; */
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .navbar-controllers-active a {
    margin: 16px 0;
    text-decoration: none;
    color: var(--color-orange);
  }

  .navbar-controllers-active {
    position: fixed;
    left: 0;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--color-white);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
} ;
