* {
  font-family: 'Times New Roman', Times, serif;
  /* padding: 0;
  margin: 0; */
}

.navbar-container {
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  height: 50px;
}

.navbar-controllers {
  display: flex;
  gap: 5%;
  justify-content: flex-end;
}

.application-name {
}

.home-page {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards {
  width: 300px;
  height: 300px;
  background-color: azure;
}

/* PROFILE */

.profile-page {
  /* background-color: aqua; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 80%;
  box-shadow: var(--box-shadow-1);
  border-radius: 5px;
  /* background-color: yellow; */
}

.profile-top {
  height: 10%;
  background-color: rgb(247, 235, 220);
}

.profile-mid {
  height: 70%;
  /* background-color: blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-mid img {
  width: 100px;
}

.profile-bottom {
  height: 20%;
  /* background-color: violet; */
  display: flex;
  justify-content: center;
  gap: 5%;
}

.profile-bottom div {
  width: 100px;
  height: 100px;
  background-color: aqua;
}

.image-div {
  background-color: beige;
}

.details-div {
  background-color: gainsboro;
}

/*Loading*/

.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 20px; */
}

.alert-div {
  position: relative;
  padding: 30px;
  width: 100%;
  max-width: 640px;
  background-color: rgb(238, 174, 77);
  border-radius: 20px;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  border: solid rgb(238, 174, 77);
  border-width: 5px;
}
